.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #006a4d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Logo-Margin {
  margin: 4px;
}

.App-link {
  color: #61dafb;
}

.top-buffer {
  margin-top: 20px;
}

.top-buffer5 {
  margin-top: 2px;
}

.left-buffer {
  margin-left: 10px;
}

.right-buffer {
  margin-right: 10px;
}

.navbar.no-margin {
  margin-bottom: 2px;
}

.disable-pointer {
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
